.card{
    padding:10px;
    box-shadow: 1px 0px 5px #aaaaaa;
}
/* .main .card{
    height: 100px;
    width: 100px;
} */
.card img{
    width: 100%;
}
.card a{
    text-decoration: none;
}
.card .qmeta{
    display: flex;
    justify-content: space-between;
}


